---
layout: client-portal
client:
  name: Kudos
  dropbox_url: https://www.dropbox.com/sh/9wwcx5h52xnwiw8/AAA76JN2iRl89hflmPXyKeMSa?dl=0
  schedule:
    meeting: TBD
    days: TBD
---
%h2
  %span Part 1
  Discovery
.row
  .col.col-3
    %a.project-item{href:"https://www.dropbox.com/s/ddepmcv639664ns/Kudos%20Proposal%20201611.pdf?dl=0"}
      %span.ico-area
        %i.icon-Finding
      %span.title The Proposal
      %span The full project proposal
  .col.col-3
    %a.project-item{href:"https://www.dropbox.com/s/mgftburj6vblxe7/SecurityNotes.pdf?dl=0"}
      %span.ico-area
        %i.icon-NotHappy
      %span.title Security
      %span Summary of potential vulnerabilities
