---
layout: client-portal
client:
  name: Kudos
  dropbox_url: https://www.dropbox.com/sh/9wwcx5h52xnwiw8/AAA76JN2iRl89hflmPXyKeMSa?dl=0
  schedule:
    meeting: TBD
    days: TBD
---
%h2
  %span Part 1
  Discovery
.row
  .col.col-3
    %a.project-item{href:"https://www.dropbox.com/s/ddepmcv639664ns/Kudos%20Proposal%20201611.pdf?dl=0"}
      %span.ico-area
        %i.icon-Finding
      %span.title The Proposal
      %span The full project proposal
  .col.col-3
    %a.project-item{href:"https://www.dropbox.com/s/mgftburj6vblxe7/SecurityNotes.pdf?dl=0"}
      %span.ico-area
        %i.icon-NotHappy
      %span.title Security
      %span Summary of potential vulnerabilities
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Bespoke"></i>
-#            </span>
-#            <span class="title">Inspiration</span>
-#            <span>A Pinterest board where you can add all your design likes.</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Hiring"></i>
-#            </span>
-#            <span class="title">About your business</span>
-#            <span>A questionnaire for you to fill out about your business.</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Feedback"></i>
-#            </span>
-#            <span class="title">Website questionnaire</span>
-#            <span>A questionnaire for you to fill out about your website.</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Quote"></i>
-#            </span>
-#            <span class="title">20 second gut test</span>
-#            <span>Rate these websites so I can get an idea of your likes (and dislikes).</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Content"></i>
-#            </span>
-#            <span class="title">Content sheet</span>
-#            <span>Download this worksheet to help you write your website content.</span>
-#        </a>
-#    </div>
-#</div>
-#<h2><span>Part 2</span> Website</h2>
-#<div class="row">
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Testing"></i>
-#            </span>
-#            <span class="title">Prototype</span>
-#            <span>View the website prototype for the design.</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Blog"></i>
-#            </span>
-#            <span class="title">Style guide</span>
-#            <span>Your style guide keeps your brand nice and consistent.</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Promote"></i>
-#            </span>
-#            <span class="title">The final deliverable</span>
-#            <span>These are all the files to hand over to the devlopers to build.</span>
-#        </a>
-#    </div>
-#</div>
-#<h2><span>Part 3</span> Assets</h2>
-#<div class="row">
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-SEO"></i>
-#            </span>
-#            <span class="title">Proposal</span>
-#            <span>The initial proposal and quote for your project.</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Content"></i>
-#            </span>
-#            <span class="title">Contract</span>
-#            <span>A copy of our signed agreement for your reference.</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Cost"></i>
-#            </span>
-#            <span class="title">Invoice receipts</span>
-#            <span>Keep up to date with all payments made and download receipts.</span>
-#        </a>
-#    </div>
-#    <div class="col col-3">
-#        <a class="project-item" href="#">
-#            <span class="ico-area">
-#                <i class="icon-Feedback"></i>
-#            </span>
-#            <span class="title">Giving effective feedback</span>
-#            <span>A cheat sheet on how to give amazing feedback.</span>
-#        </a>
-#    </div>
-#</div>
