---
layout: client-portal
client:
  name: Sample
  dropbox_url: https://www.dropbox.com/
  schedule:
    meeting: TBD
    days: TBD
---
%h2
  %span Part 1
  Discovery
.row
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Finding
      %span.title The Proposal
      %span The full project proposal
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Bespoke
      %span.title Inspiration
      %span A Pinterest board where you can add all your design likes.
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Hiring
      %span.title About your business
      %span A questionnaire for you to fill out about your business.
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Feedback
      %span.title Website questionaire
      %span A questionnaire for you to fill out about your website.
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Quote
      %span.title 20 second gut test
      %span Rate these websites so I can get an idea of your likes (and dislikes).
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Content
      %span.title Content sheet
      %span Download this worksheet to help you write your website content.
%h2
  %span Part 2
  Website
.row
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Testing
      %span.title Prototype
      %span View the website prototype for the design
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Blog
      %span.title Style Guide
      %span Your style guide keeps your brand nice and consistent.
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Promote
      %span.title The final deliverable
      %span These are all the files to hand over to the developers to build.
%h2
  %span Part 3
  Assets
.row
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-SEO
      %span.title Proposal
      %span The initial proposal and quote for your project.
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Content
      %span.title Contract
      %span A copy of our signed agreement for your reference.
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Cost
      %span.title Invoice receipts
      %span Keep up to date with all payments made and download receipts.
  .col.col-3
    %a.project-item{href:"#"}
      %span.ico-area
        %i.icon-Feedback
      %span.title Giving effective feedback
      %span A cheat sheet on how to give amazing feedback.
