<IfModule mod_headers.c>
  <FilesMatch ".(eot|otf|svg|ttf|woff|woff2?)$">
    Header set Access-Control-Allow-Origin "wndx.school"
    Header set Access-Control-Allow-Origin "wimby.ca"
    Header set Access-Control-Allow-Origin "6packapps.io"
    Header set Access-Control-Allow-Origin "dragonrubydispatch.com"
  </FilesMatch>
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^linktree(.*)$ /start-here$1 [R=301,L]
</IfModule>