url: https://www.wndx.com

# Site settings
title: The WNDX Group Inc
email: talk-to-us@wndx.com
description: "Welcome to the home of The WNDX Group Inc, where Practical Software Development is our way of life."

owner:
  twitter: wndxlori

collections:
  projects:
    output: true
  clients:
    output: true
  pages:
    output: true
  services:

# Postal address (add as many lines as necessary)
address:
  - line: 210A 12A Street North
  - line: Suite 209
  - line: Lethbridge AB, CANADA, T1H 2J1

# Build settings
markdown: kramdown
highlighter: rouge

# Output
permalink: /blog/:title/

# Archives
jekyll-archives:
  enabled:
    - year
    - categories
    - tags
  layouts:
    year: year-archive
    category: category-archive
    tag: tag-archive
  permalinks:
    year: '/archives/:year/'
    tag: '/archives/tag/:name/'
    category: '/archives/category/:name/'

exclude:
  - Capfile
  - config
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENSE
  - REVISION
