---
layout: home
intro:
  lead_in: Practical Software Development
  heading: It's Nice To Meet You
  button_text: Tell Me More
  button_link: services
navbar:
  home: #page-top
  entries:
    - title: Blog
      link: /blog
    - title: Services
      link: \#services
    - title: Workshops
      link: \#workshops
    - title: Portfolio
      link: \#portfolio
    - title: About
      link: \#about
    - title: Team
      link: \#team
    - title: Contact
      link: \#contact
---
{% include services.html %}
{% haml workshops.haml %}
{% include portfolio_grid.html %}
{% haml recommendations.haml %}
{% include about.html %}
{% include team.html %}
{% include clients.html %}
{% include contact.html %}
{% include footer.html %}
{% include modals.html %}
