---
layout: home
intro:
  lead_in: Practical Software Development
  heading: It's Nice To Meet You
  button_text: Tell Me More
  button_link: services
navbar:
  home: #page-top
  entries:
    - title: Blog
      link: /blog
    - title: Services
      anchor: services
    - title: Workshops
      anchor: workshops
    - title: Portfolio
      anchor: portfolio
    - title: About
      anchor: about
    - title: Team
      anchor: team
    - title: Contact
      anchor: contact
---
{% include services.html %}
{% haml workshops.haml %}
{% include portfolio_grid.html %}
{% haml recommendations.haml %}
{% include about.html %}
{% include team.html %}
{% include clients.html %}
{% include contact.html %}
{% include footer.html %}
{% include modals.html %}
