---
layout: home
type: pages
intro:
  lead_in: Practical Software Development
  heading: It's Nice To Meet You
  button_text: Tell Me More
  button_link: services
navbar:
  home: "#page-top"
  entries:
    - title: Blog
      href:  /blog
    - title: Services
      href:  "#services"
    - title: Workshops
      href:  "#workshops"
    - title: Portfolio
      href:  "#portfolio"
    - title: About
      href:  "#about"
    - title: Team
      href:  "#team"
    - title: Contact
      href:  "#contact"
---
{% include services.html %}
{% haml workshops.haml %}
{% include portfolio_grid.html %}
{% haml recommendations.haml %}
{% include about.html %}
{% include team.html %}
{% include clients.html %}
{% include contact.html %}
{% include footer.html %}
{% include modals.html %}
