<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        The WNDX Group Inc. has been in operation for 20 years.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1996</h4>
                                    <h4 class="subheading">Early Days</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        The WNDX Group was originally formed to continue supporting and developing
                                        the WNDX Graphical User Interface Toolkit, a set of cross-platform C libraries,
                                        used to create GUI software applications capable of running cross platform, on
                                        such diverse platforms DOS, Windows, X-Windows (Sun Solaris, HP-UX, SGI Irix),
                                        and Macintosh.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/java.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1999</h4>
                                    <h4 class="subheading">Brewing some Java</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Then Java came along and kicked the crap out of the cross-platform
                                        business. If you can't beat'em, join'em. WNDX became a Java programming
                                        consultancy, specializing in delivering highly functional web applications
                                        using AWT, Swing based desktop applications capable of running on any customer
                                        platform, and finally enterprise web applications.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/rails.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005</h4>
                                    <h4 class="subheading">Rocking the Rails</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Introduced to Ruby on Rails pre-1.0 release, we were so impressed with the boost
                                        in productivity it provided, that we immediately started our next project
                                        with Ruby on Rails, and continue to maintain &amp; rapidly deliver highly
                                        performant and scalable web applications for today's businesses.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/avatar.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Passion for Teaching</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        After many years of informally mentoring and coaching the junior
                                        developers on the teams with which we have worked, it was time to
                                        formalize some of that knowledge, and we can now bring experienced
                                        software development teams rapidly up to date with the Ruby on Rails
                                        for Real Developers series of workshops (RoR4Real, Rails4iOS).
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Author! Author!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Ruby, the language, was developed to make programmers happy. It made us
                                        very happy when RubyMotion was released, allowing us to develop iOS
                                        applications using Ruby.  The result... we
                                        started developing mobile applications, and our first
                                        book was written and self-published &dash;
                                        <a href="http://coredatainmotion.com">Core Data in Motion</a>.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>