<nav class="breadcrumbs">
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="/blog/" itemprop="url">
      <span itemprop="title">Home</span>
    </a>
  {% if page.categories and page.categories != empty %}
    ›
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="/archives/category/{{ page.categories | first | slugify }}/" itemprop="url">
      <span itemprop="title">{{ page.categories | first | replace: '-',' ' | capitalize }}</span>
    </a>
  </span>
  {% endif %}
</nav><!-- /.breadcrumbs -->
