<form action="https://www.getdrip.com/forms/{{drip.form_number}}/submissions" method="post" data-drip-embedded-form="{{drip.form_number}}" class="form-horizontal">
  <p class="form-control-static" data-drip-attribute="description">{{drip.description}}</p>
  <div class="form-group">
    <label for="fields[first_name]" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-9">
      <input type="text" name="fields[first_name]" value="" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label for="fields[email]" class="col-sm-3 control-label">Email Address</label>
    <div class="col-sm-9">
      <input type="email" name="fields[email]" value="" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      <input type="submit" name="submit" value="{{drip.button}}" data-drip-attribute="sign-up-button" class="btn btn-primary" />
    </div>
  </div>
</form>