 <!-- Portfolio Modals -->
 {% for project in site.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ project.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ project.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ project.img }}" class="img-responsive img-centered" alt="{{ project.alt }}">
                            <p>{{ project.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>
                                        <a href="{{ project.client_url }}">{{ project.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <span class="text-primary">
                                        {{ project.project-date }}
                                    </span>
                                </li>
                                <li>Service:
                                    <span class="text-primary">
                                        {{ project.category }}
                                    </span>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
 <!-- Talk Modals -->
{% for talk in site.talks %}
    <div class="talk-modal modal fade" id="talkModal{{ talk.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>{{talk.title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <span class="text-center text-uppercase">Date</span>
                        <p class="text-center text-primary">{{talk.project-date}}</p>
                    </div>
                    <div class="col-md-4">
                        <span class="text-center text-uppercase">Event</span>
                        <p class="text-center text-primary">{{talk.subtitle}}</p>
                    </div>
                    <div class="col-md-2">
                        <span class="text-center text-uppercase">Category</span>
                        <p class="text-center text-primary">{{talk.category}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-sm-12">
                        <p class="text-justify">{{talk.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <a href="{{talk.deck_url}}" class="btn btn-sm btn-primary">
                            <i class="fa fa-slideshare" aria-hidden="true"></i>
                            Speaker Deck
                        </a>
                    </div>
                    {% if talk.talk_url %}
                    <div class="col-md-3 col-md-offset-2">
                        <a href="{{talk.talk_url}}" class="btn btn-sm btn-primary">
                            <i class="fa fa-file-video-o" aria-hidden="true"></i>
                            Confreaks.TV
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
         </div>
    </div>
{% endfor %}
 