%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{data:{toggle:"collapse", target:"#bs-home-navbar-collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{href:"#page-top"}
    #bs-home-navbar-collapse.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{href:"#page-top"}
        %li
          %a.page-scroll{href:"/blog"} Blog
        %li
          %a.page-scroll{href:"#services"} Services
        %li
          %a.page-scroll{href:"#workshops"} Workshops
        %li
          %a.page-scroll{href:"#portfolio"} Portfolio
        %li
          %a.page-scroll{href:"#about"} About
        %li
          %a.page-scroll{href:"#team"} Team
        %li
          %a.page-scroll{href:"#contact"} Contact
