%section#recommendations.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Recommendations
        %h3.section-subheading.text-muted What our fabulous clients have to say
    .row
      .col-md-2.text-right
        .row
          %img.client-image.pull-right.img-circle.img-responsive{src:"/img/portfolio/erik.jpg"}
        %span.row
          Erik Sowa
        %span.row
          VP of Engineering,
          %br
          Real Gravity
        %span.row
          %a{href:"https://twitter.com/eriksowa"} @eriksowa
      .col-md-4.col-sm-12
        %p.recommends.text-left.text-muted
          I've hired Lori twice as a remote Rails engineer. She was a member of my team building and operating an
          online video syndication application - a team that practiced continuous delivery successfully. Her attention
          to continuously improving test coverage and monitoring while still shipping features was a significant
          factor in that team's success. I'd cheerfully hire her again for Rails work.
      .col-md-4.col-sm-12
        %p.recommends.text-right.text-muted
          I have worked with Lori on several projects for which I needed to put together an effective project team
          together and to do it quickly. Without exception the project objectives were delivered in a professional
          manner - always on-time and on-budget. She is a rare combination of high technical skill coupled with an
          approach that encourages collaboration between members of the team and other project stakeholders. That's
          likely all that is required for Lori to be successful in virtually any situation in which she is put, but
          there's more: she brings a positive attitude and a great sense of humour that makes projects with her a
          pleasure. I would not hesitate to work with Lori again in the future.
      .col-md-2
        .row
        %img.client-image.img-circle.img-responsive{src:"/img/portfolio/terence.jpg"}
        %span.row
          Terence Gannon
        %span.row
          President,
          %br
          Intellog
        %span.row
          %a{href:"https://twitter.com/terencecgannon"} @TerenceCGannon
          ,
          %a{href:"https://twitter.com/worknotwork"} @WorkNotWork
