<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">
                        WNDX is a software development &amp; training consultancy in southern
                        Alberta, Canada.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-life-saver fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Rails Application Maintenance</h4>
                    <p class="text-muted text-justify">
                        Your business-critical Ruby on Rails application needs to be maintained and upgraded. But your
                        busy development team is defining, designing and delivering new business features. Let the WNDX
                        Group take care of your Rails application's maintenance needs, and help power-up your
                        development team to deliver more features, faster.
                        <a href="/pages/rails_services/">More</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Applications</h4>
                    <p class="text-muted text-justify">
                        When a small business takes off rapidly, your most precious commodity is time. Time spent
                        performing routine work, or pushing data from one system to another is a waste of your precious
                        time. We can help you identify the most effective work to automate, and can rapidly deliver a
                        custom web application to provide robust mobile-ready solution for your business.
                        See our <a href="#portfolio">Portfolio</a> for examples of the applications we've built and
                        worked on.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Applications</h4>
                    <p class="text-muted text-justify">
                        With the deep penetration of smart phones, mobile
                        applications are now a compelling option for custom business software. We literally wrote the
                        <a href="http://coredatainmotion.com">book</a> on Core Data, for data-heavy mobile applications,
                        on the lessons learned in the development of the <a href="https://wimby.ca">WIMBY - Wells In My
                        Back Yard</a> application. Let us work together to identify, design and develop the tools your
                        mobile workforce needs.
                    </p>
                </div>
            </div>
        </div>
    </section>