<ul class="list-inline social-buttons">
    <li>
        <a href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;via={{ site.owner.twitter }}" target="_blank">
            <i class="fa fa-twitter"></i>{{ site.data.messages.locales[site.locale].share }}
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank">
            <i class="fa fa-facebook"></i>{{ site.data.messages.locales[site.locale].share }}
        </a>
    </li>
    <li>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;title={{ page.title | escape | replace:' ','%20' }}&amp;source={{site.url}}" target="_blank">
            <i class="fa fa-linkedin"></i>{{ site.data.messages.locales[site.locale].share }}
        </a>
    </li>
</ul><!-- /.share-this -->


