<ul class="list-inline social-buttons">
    <li>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;title={{ page.title | escape | replace:' ','%20' }}&amp;source={{site.url}}" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>{{ site.data.messages.locales[site.locale].share }}
        </a>
    </li>
    <li>
        <a href="https://ruby.social/share?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;via={{ site.owner.mastodon }}" target="_blank">
            <i class="fa-brands fa-mastodon"></i>{{ site.data.messages.locales[site.locale].share }}
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>{{ site.data.messages.locales[site.locale].share }}
        </a>
    </li>
</ul><!-- /.share-this -->


