<!-- Talk Grid Section -->
    <section id="talk" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speaking</h2>
                    <h3 class="section-subheading text-muted">Here are Lori's upcoming speaking engagements, and a selection of talks from the past.</h3>
                </div>
            </div>
            <div class="row">
            {% for talk in site.talks %}
                <div class="col-md-4 col-sm-6 talk-item">
                    <a href="#talkModal{{ talk.modal-id }}" class="talk-link" data-toggle="modal">
                        <div class="talk-hover">
                            <div class="talk-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/talks/{{ talk.thumbnail }}" class="img-responsive img-centered" alt="{{ talk.alt }}">
                    </a>
                    <div class="talk-caption">
                        <h4>{{ talk.title }}</h4>
                        <p class="text-muted">{{ talk.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
