%section#workshops.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Workshops
        %h3.section-subheading.text-muted
          We have a passion for teaching
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %a{href:'http://ror4real.com'}
            %img.img-responsive.img-centered{src:"img/workshops/ror4real.png",alt:""}
        %h4.service-heading Ruby on Rails for Real Developers
        %p.text-muted.text-justify
          The Ruby on Rails for Real Developers workshop is intended to get experienced developers
          up to speed quickly &amp; confidently with the super-productive Ruby on Rails web development
          framework.
      .col-md-4
        %span.fa-stack.fa-4x
          %a{href:'http://rails4ios.com'}
            %img.img-responsive.img-centered{src:"img/workshops/rails4ios.png",alt:""}
        %h4.service-heading Rails for iOS Developers
        %p.text-muted.text-justify
          Part of our RoR4Real series, our popular Rails4iOS Developers workshop has been presented
          locally in Calgary, as well as at conferences across the globe, including RubyConf Australia and
          NSScotland.
      .col-md-4
        %span.fa-stack.fa-4x
          %a{href:'http://rubymotion.com'}
            %img.img-responsive.img-centered{src:"img/workshops/rubymotion.png",alt:""}
        %h4.service-heading RubyMotion for Rails Developers
        %p.text-muted.text-justify
          Our RubyMotion for Rails developers workshop is under construction. Please sign
          up for
          %a{href:'#contact'} updates
          to be informed when this workshop is ready to go.