body.blog { padding-top: 90px; }

.navbar-default.navbar-normal {
    padding: 10px 0;
    background-color: #222;
}

.navbar-default.navbar-normal .navbar-brand {
    width:186px;
    height:43px;
    background-image:url(/img/logos/brand-small.png);
    background-repeat:no-repeat;
}

.not-home header {
  background-image: url('{{ site.baseurl }}/img/sunset-train.jpg');
}

@media(min-width:768px) {
  .navbar .container {
    padding-left: 0;
  }

  section {
    padding-top: 100px;
  }
}

.affix {
  top: 90px;
}

.page-title {
  padding-left: 15px;
  padding-right: 15px;
}

.page-title h1, .page-title hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.page-title hr {
  border-top: 3px solid #{{ site.data.template.color.primary }};
}

#content, .page-feature {
  margin-top: 2em;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .post.row .page-content {
    margin-top: 1em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .post.row .page-content {
    margin-top: 1em;
  }
}

.post.row .page-content p {
  font-size: 16px;
}

@media(min-width:768px) {
  .post.row {
    margin-left: 1em;
    margin-right: 1em;
  }

  .post.row .page-content {
    margin-top: 2em;
  }
}

.post iframe {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidebar .row {
  padding-bottom: 2em;
}

ul.social-buttons li a {
 text-align: center;
 background-color: #{{ site.data.template.color.primary }};
}

ul.social-buttons li a:hover,
ul.social-buttons li a:active,
ul.social-buttons li a:hover
{
  background-color: #{{ site.data.template.color.secondary }};
}

.pager .disabled>a,
.pager .disabled>a:hover {
    background-color: lightgray;
}

.breadcrumb {
  background: inherit;
  border: none;
  display: block;
  padding: 5px 0px;
  margin-bottom: 2px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.5em;
}
.breadcrumb li {
  font-size: 16px;
  font-family: {{ site.data.template.font.primary }};
}
.breadcrumb>li+li:before {content: "\276F\00a0";}

.label {
  font-family: {{ site.data.template.font.primary }};
}

#recommendations blockquote {
  font-size: smaller;
}

.client-image {
  margin: 0.5em;
  width: 100px;
  height: 100px;
  border: 7px solid #f1f1f1;
  color: #fff;
  background-color: #{{ site.data.template.color.primary }};
}


