body.blog { padding-top: 90px; }

.navbar-default.navbar-normal {
    padding: 10px 0;
    background-color: #222;
}

.navbar-default.navbar-normal .navbar-brand {
    width:194px;
    height:38px;
    background-image:url(/img/logos/brand-small.png);
    background-repeat:no-repeat;
}

.not-home header {
    background-image: url('{{ site.baseurl }}/img/sunset-train.jpg');
}

.not-home header .intro-text {
    background-color: rgba(22, 22, 22, 0.5);
}

@media(min-width:768px) {
  .navbar .container {
    padding-left: 0;
  }

  section {
    padding-top: 100px;
  }
}

.affix {
  top: 90px;
}

.page-title {
  padding-left: 15px;
  padding-right: 15px;
}

.page-title h1, .page-title hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.page-title hr {
  border-top: 3px solid #{{ site.data.template.color.primary }};
}

#content, .page-feature {
  margin-top: 2em;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .post.row .page-content {
    margin-top: 1em;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .post.row .page-content {
    margin-top: 1em;
  }
}

.post.row .page-content p {
  font-size: 16px;
}

@media(min-width:768px) {
  .post.row {
    margin-left: 1em;
    margin-right: 1em;
  }

  .post.row .page-content {
    margin-top: 2em;
  }
}

.post iframe {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidebar .row {
  padding-bottom: 2em;
}

ul.social-buttons li a {
 text-align: center;
 background-color: #{{ site.data.template.color.primary }};
}

ul.social-buttons li a:hover,
ul.social-buttons li a:active,
ul.social-buttons li a:hover
{
  background-color: #{{ site.data.template.color.secondary }};
}

.pager .disabled>a,
.pager .disabled>a:hover {
    background-color: lightgray;
}

.breadcrumb {
  background: inherit;
  border: none;
  display: block;
  padding: 5px 0px;
  margin-bottom: 2px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.5em;
}
.breadcrumb li {
  font-size: 16px;
  font-family: {{ site.data.template.font.primary }};
}
.breadcrumb>li+li:before {content: "\276F\00a0";}

.label {
  font-family: {{ site.data.template.font.primary }};
}

#recommendations blockquote {
  font-size: smaller;
}

.client-image {
  margin: 0.5em;
  width: 100px;
  height: 100px;
  border: 7px solid #f1f1f1;
  color: #fff;
  background-color: #{{ site.data.template.color.primary }};
}

aside.bg-light-gray {
    background-color: #f7f7f7;
}

#talk .talk-item {
    right: 0;
    margin: 0 0 15px;
}

#talk .talk-item .talk-link {
    display: block;
    position: relative;
    margin: 0 auto;
    outline: lightgrey solid thin;
    max-width: 400px;
}

#talk .talk-item .talk-link .talk-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(254,209,54,.9); /* Fallback when no plugin support */
    background: rgba({{ site.data.template.color.primary | hex_to_rgb | join: ',' }}, .9);
}

#talk .talk-item .talk-link .talk-hover:hover {
    opacity: 1;
}

#talk .talk-item .talk-link .talk-hover .talk-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#talk .talk-item .talk-link .talk-hover .talk-hover-content i {
    margin-top: -12px;
}

#talk .talk-item .talk-link .talk-hover .talk-hover-content h3,
#talk .talk-item .talk-link .talk-hover .talk-hover-content h4 {
    margin: 0;
}

#talk .talk-item .talk-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#talk .talk-item .talk-caption h4 {
    margin: 0;
    text-transform: none;
}

#talk .talk-item .talk-caption p {
    margin: 0;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

#talk * {
    z-index: 2;
}

@media(min-width:767px) {
    #talk .talk-item {
        margin: 0 0 30px;
    }
}

.talk-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.talk-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.talk-modal .modal-content p {
    margin-bottom: 30px;
}

.talk-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

.talk-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.talk-modal .modal-content img {
    margin-bottom: 30px;
}

.talk-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.talk-modal .close-modal:hover {
    opacity: .3;
}

.talk-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.talk-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 50px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.talk-modal .row {
    padding-bottom: 1.5em;
}
