---
layout: not-home
ads: false
---
<div class="post row">
    <div class="col-md-9">
      {% include breadcrumbs.html %}
    </div>
</div>
<div class="post row">
    <div id="sidebar" class="col-md-3 pull-right">
        {% include post-sidebar.html %}
	</div>
	<div class="col-md-9 pull-left">
        {% if page.image.feature %}
          {% include post-image-feature.html %}
        {% endif %}
        <div class="page-title">
            <h1>{{ page.title }}</h1>
            <hr />
            {{ page.date | date: '%B %-d, %Y'}}
        </div>
        <div class="inner-wrap text-justify">
            <div id="content" class="page-content">
                {{ content }}
                {% if layout.iframe %}
                    <iframe class="embed-responsive-item" width="{{layout.iframe.width}}" height="{{layout.iframe.height}}" src="{{layout.iframe.url}}" ></iframe>
                {% endif %}
                <hr />
                <aside>
                    {% if page.comments == true %}{% include comments.html %}{% endif %}
                </aside>
            </div><!-- /.content -->
        </div><!-- /.inner-wrap -->
        {% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}

	</div> <!-- post content -->
</div>